.organizer{
  font-size: small;
  color: #999;
}

.list{
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

.option {
  padding-right: 1rem;
}

.button {
  display: flex;
  justify-content: end;
  gap:10px;
  padding: 5px;
}