.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: var(--secundary-color);
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.quote {
  font-family: italic;
  font-size: 22px;
  color: rgb(198, 162, 162);
}
