.control {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;

}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  max-width: 20rem;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 20rem;
}

.control textarea {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 20rem;
}


.button {
  margin-right: 8px;
  min-width: 25px;
  align-self: end;
  height: 30px;
  font: inherit;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20%;
}

.button:hover,
.button:active {
  opacity: 0.85;
}

.button:focus {
  outline: none;
}

span {
  font-size: 12px
}